.banner {
  width: 100vw;
  height: 800px;
  /* border: 1px solid red; */
  overflow: hidden;
  position: relative;
}

.slider {
  width: 200px;
  height: 350px;
  /* border: 1px solid blue; */
  position: absolute;
  top: 10%;
  left: calc(50% - 100px);

  transform-style: preserve-3d;
  transform: perspective(1000px);

  animation: sliderRun 40s linear infinite;

  &:hover {
    animation-play-state: paused;
  }
}

.sliderdebug {
  animation: none;
  transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
}

@keyframes sliderRun {
  from {
    transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
  }
}

.item {
  position: absolute;
  inset: 0;
  /* width: 200px;
  height: 350px;
  top: -175px;
  left: -100px; */
  transform: rotateY(calc(var(--position) * (360 / var(--quantity)) * 1deg))
    translateZ(350px);
  transition: transform 0.3s ease;

  /* border: 1px solid red; */
}

.item:hover {
  transform: rotateY(calc(var(--position) * (360 / var(--quantity)) * 1deg))
    translateZ(400px) rotateX(5deg);
}
