@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* color*/
  --foreground-rgb: rgba(255, 255, 255, 1);

  /* Spacing */
  --header-height:64px;
  --switcher-height: 64px;
  --header-and-switcher-height: calc(var(--header-height) + var(--switcher-height));
}

 /* dark mode*/
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgba(0, 0, 0, 1);
  }
} */

.border-test {
  border: 1px solid red
}

body {
  
}
